<style>

</style>
<div data-controller = "visualization" data-visualization-id-value = <%=@graph.id%>>
<div data-visualization-target="preLoader">
<div class="loader"></div>
</div>
<div data-visualization-target="isLoaded"> 
  <div class='container text-center mt-5'>
    <div class='row'>
      <div class='col-4'>
        <h1>ID <br><br> <b><%= @graph.id %></b></h1>
      </div>
      <div class='col-4'>
        <h1>Nodes <br><br> <b data-visualization-target="nodeCount"><%= @graph.id %></b></h1>
      </div>
      <div class='col-4'>
        <h1>Links <br><br> <b data-visualization-target="linkCount"><%= @graph.id %></b></h1>
      </div>          
    </div>
    <div>
      <br><br><br>
      <br><br><br>
      <%= link_to 'View Payload', api_v1_graph_path(@graph.id), class: 'glow-on-hover' %>
    </div>
  </div>
  <!-- TODO - Visualization of Graph Nodes linking with each other -->
 </div>
</div>